:root{
  --main-color: #2C326A;
  --accent-color: #FFDF00;
  --border-color: #ececec;
  --bg-color: #f9f9f9;
  --font-color: #242422;
  --footer-font-color: #a6adb6;
  --base-font: "Noto Serif JP", sans-serif;
  --text-font: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK JP Subset","Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo";
  --english-font: "Oswald", serif;
}

/*-------------------------
  基本設定
-------------------------*/

main{
  transition: opacity 0.3s ease;
}

:where(html) {
  font-family: var(--base-font);
  font-weight: 500;
  color: var(--font-color);
  line-height: 1.5;
}

:where(h1, h2, h3, a){
  letter-spacing: .04em;
}

:where(p){
  line-height: 2;
}

:where(img){
  object-fit: cover;
}


/*-------------------------
  レイアウト調整
-------------------------*/
.l-inner {
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}


.l-block{
  margin: 40px 0;
  position: relative;
}

@media (min-width: 1024px){
  .l-block{
    margin: 80px 0;
  }
}


.l-block--background{
  background-color: var(--bg-color);
  padding: 40px 0;
}

@media (min-width: 1024px){
  .l-block--background{
    padding: 80px 0;
  }
}

.l-grid{
  display: grid;
  gap: 30px;
}

@media (min-width: 768px){
  .l-grid{
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media (min-width: 1024px){
  .l-grid{
    gap: 80px;
  }
}

.l-grid--top{
  align-items: flex-start
}

.l-grid img{
  
  object-fit: cover;
}

   .l-grid--reverse .l-grid__content1 {
    order: 2;
  }

  .l-grid--reverse .l-grid__content2 {
    order: 1;
  }


.u-center{
 text-align: center;
}




/*================================
	見出し
=================================*/

.c-heading__title{
  font-size: clamp(22.21px, 0.556vw + 20.432px, 31.1px);
  font-weight: normal;
  margin-top: 24px;
   letter-spacing: 0.15em;
  font-feature-settings: "palt";
}


/*================================
	テキスト
=================================*/
.c-textarea{
  text-align: justify;
  margin-top: 40px;
  letter-spacing: 0.08em;
  font-feature-settings: "palt";
  line-height: 2;
  max-width: 620px;
  margin-inline: auto;
}

.c-textarea p{
  margin-bottom: 24px;
  font-size: 15px;
}


.c-textbox{
  max-width: 620px;
  margin-inline: auto;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 0.08em;
  font-feature-settings: "palt";
  line-height: 2;
}

.c-textbox p{
  margin-bottom: 24px;
  font-size: 15px;
}

/*================================
	button
=================================*/

.c-button{
  margin-top: 40px;
  text-align: center;
  position: relative;
}

.c-button__link{
  border: 1px solid #fff;
  background: var(--accent-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  font-size: 14px;
  min-height: 3rem;
  position: relative;
}

.c-button__link::after{
position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: url(../images/icon/arrow.svg) no-repeat center center/contain;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
}

.c-button__link:hover{
  opacity: .7;;
}

@media (min-width: 768px){
  .c-button--left{
    text-align: left;
  }
}



/*-------------------------
  ヘッダー
-------------------------*/
.l-header {
  height: 62px;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  z-index: 100;
  background: #fff;
    border-bottom: solid 1px #e6e6e6;
    position: relative;
  }

.l-header__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 16px;
  height: 100%;
}

.l-header__logo img{
  width: 100px;
}

@media (min-width: 1024px){
  .l-header__logo img{
    width: 120px;
  }
}

.l-header__menu li {
  text-transform: uppercase;
  color: var(--font-color);
  position: relative;
}

.l-header__menu li:after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.2s;
}

.l-header__menu li:hover::after{
  transform: scale(1,-1);
}

.l-header__menu li:hover{
  color: var(--main-color);
}

/* ハンバーガーメニューが表示されている場合 */
@media not all and (min-width: 1024px) {
  
  .l-header__nav {
    position: fixed;
    top: 60px;
    right: -100%; /* メニューの位置マイナス指定で画面外に */
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.3s;
  }

  .l-header__menu {
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .l-header__menu li {
    display: flex;
    align-items: center;
    padding: 24px 40px;
    letter-spacing: 0.1em;
    position: relative;
  }

  .l-header__menu li:not(:last-child){
    border-bottom: 1px solid var(--border-color);
  }

  .l-header__menu li a {
    position: relative;
    padding-left: 16px;
  }

  .l-header__menu li a::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background: var(--accent-color);
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .l-header__nav.open {
    position: absolute;
    right: 0; /* メニューオープン時位置0にして画面内に */
    z-index: 100;
    top: 60px;
    border-top: 1px solid var(--border-color);
  }
}

.l-header__menu li a:hover {
  color: var(--main-color);
  background: #fff;
}

/* 1024px以上のスタイリング */
@media (min-width: 1024px) {
  .l-header {
    padding: 0 40px;
    height: 76px;
    background: transparent;
    transition: background-color 0.3s ease;
  }

  .l-header__menu {
    /* メニューを横に */
    display: flex;
    align-items: center;
    gap: 40px;
  }

}



/*-------------------------
  ハンバーガーメニュー
-------------------------*/
.c-hamburger {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

/* ハンバーガーメニューの基準線 */
.c-hamburger__line {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: var(--main-color);
  transition: 0.2s;
  margin: 0 auto;
}

/* ハンバーガーメニューの上下線 */
.c-hamburger__line::before,
.c-hamburger__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transition: 0.5s;
  left: 0;
}

.c-hamburger__line::before {
  transform: translateY(-10px); /* 上の線の位置 */
}

.c-hamburger__line::after {
  transform: translateY(10px); /* 下の線の位置 */
}

/* メニューオープン時 */
.c-hamburger__line.open {
  background-color: transparent; /* 真ん中の線を透明に */
}

.c-hamburger__line.open::before,
.c-hamburger__line.open::after {
  content: "";
  background-color: var(--main-color);
  transition: 0.2s;
}


.c-hamburger__line.open::before {
  transform: rotate(45deg); /* 上の線を傾ける */
}

.c-hamburger__line.open::after {
  transform: rotate(-45deg); /* したの線を傾ける */
}

@media (min-width: 1024px) {
  .c-hamburger {
    display: none;
  }
}

/*================================
	mega menu
=================================*/
.c-mega-menu__wrap {
  display: none;
  z-index: 100;
}

@media (max-width: 1023px) {
  
.c-mega-menu__title {
    display: none;
}

.c-mega-menu__list {
    display: block;
    margin-top: 16px;
}

.l-header__menu .c-mega-menu__list li {
    padding: 16px 0;
    border-bottom: transparent;
    font-size: 14px;
    background: none;
}

.c-mega-menu__list li a::after{
  background: none;
}

.c-mega-menu__list li img {
    display: none;
}

.l-header__menu .c-mega-menu{
  display: block;
}

.c-mega-menu__button{
  display: block;
}

.c-mega-menu__button::before{
  border-right: solid 2px var(--main-color);
  border-top: solid 2px var(--main-color);
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 10px;
  z-index: 2;
}

.c-mega-menu__button.open::before {
  top: 45%;
  transform: rotate(-45deg);
}
}

@media (min-width: 1024px){
  .c-mega-menu__wrap {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    max-width: 1040px;
    padding: 30px 40px;
    background-color: var(--main-color);
    box-sizing: border-box;
}

.c-mega-menu__title{
  margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.c-mega-menu__list{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.c-mega-menu__list li{
  text-align: center;
  color: #fff;
}

.c-mega-menu__list span{
  margin-top: 12px;
  display: block;
}

.c-mega-menu__list li a:hover span {
  color: #fff; 
  padding-bottom: 8px;
}

}

 /*================================
	フッター
=================================*/
.l-footer {
  padding: 40px 6% 24px;
  background: #283037;
  color: #d9d9d9;
  position: relative;
}

.l-footer__inner {
  max-width: 1440px;
  margin: 0 auto;
}

.l-footer__contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}



.l-footer__logo {
  font-size: clamp(18.75px, 0.234vw + 18.000px, 22.5px);
}

.l-footer__address {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem) /* 14-16px */;
  margin-top: 8px;
}

.l-footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.l-footer__menu li {
  color: #d9d9d9;
  position: relative;
  font-size: 15px;
}

.l-footer__menu li:hover{
  opacity: .7;
}

.l-footer__menu li:hover::after{
  transform: scale(1,-1);
}

.l-footer__copy {
  font-size: 12px;
  color: #999;
  margin-top: 64px;
  display: block;
}

@media (min-width: 1024px) {
  .l-footer {
    padding: 64px 40px 40px;
  }

  .l-footer__contents {
    flex-direction: row;
    justify-content: space-between;
      align-items: center;
  }

  .l-footer__menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
  }

  .l-footer__copy {
    text-align: right;
  }
}

/*================================
	下層ページのタイトル
=================================*/

.l-page-title{
  background: var(--main-color);
  padding: 24px 0;
}

.l-page-title h1{
  color: #fff;
  text-align: center;
  font-size: clamp(1.5rem, 1.227rem + 1.36vw, 2.25rem);
  font-weight: normal;
}

@media (min-width: 1024px){
  .l-page-title{
    padding: 40px 0;
  }
}

/*================================
	main visual
=================================*/

.p-main-visual {
  position: relative;
  overflow: hidden;
  background: url(../images/top/main-visual.jpg) no-repeat center center/cover;
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-main-visual__copy {
  text-align: center;
}

.p-main-visual__copy h1{
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: clamp(1.375rem, 0.693rem + 3.41vw, 3.25rem);
  text-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

@media (min-width: 1024px) {
  .p-main-visual {
    height: 88vh;
  }
}


/*================================
	サービス一覧
=================================*/
.p-service-list{
  margin-top: 24px;
  display: grid;
  gap: 1px;
}
.p-service__item{
  position: relative;
  height: 200px;
}


.p-service-list__image{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow:hidden;
  
}

.p-service-list__image img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition:1s all;
}

.p-service-list__image img:hover{
  transform:scale(1.2,1.2);
}

.p-service-list__title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0 0 20px #000;
  font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
}

@media (min-width: 1024px){
  .p-service-list{
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }

  .p-service__item{
    height: 360px;
  }
}

/*================================
	施工事例リスト
=================================*/

.p-archive{
  margin-top: 24px;
  max-width: 620px;
  margin-inline: auto;
}

.p-archive__item{
  border-bottom: 1px solid var(--border-color);
  padding: 20px 0;
}

.p-archive__meta{
  color: #767676;
  display: flex;
  font-size: 14px;
  gap: 20px;
}

@media (min-width: 1024px){

  .p-archive__link{
    display: flex;
    align-items: center;
    gap: 40px;
}
}

/*================================
	panel
=================================*/

.p-panel{
  margin-top: 24px;
}

.p-panel__item{
  margin-bottom: 40px;
}

.p-panel__title{
  font-weight: normal;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 8px;
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
}

.p-panel__textarea{

  letter-spacing: 0.08em;
  font-feature-settings: "palt";
  line-height: 2;
  margin-top: 16px;
}

.p-panel__textarea p{
 
  font-size: 15px;
}

@media (min-width: 1024px){
  .p-panel{
    margin-top: 40px;
  }

  .p-panel__item{
  margin-bottom: 120px;
}

  .p-panel__title{
    margin-bottom: 16px;
  }

  .p-panel__textarea{
    margin-top: 0;
  }
}

/*================================
	callout
=================================*/

.c-callout{
  background: var(--bg-color);
  padding: 8px 16px;
  margin-top: 24px;
}

.c-callout__title{
  font-size: 15px;
}

.c-callout__content{
  margin-top: 8px;
  font-size: 14px;
}

.c-callout__content li{
  margin-bottom: 8px;
  padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 8px;
}

.c-callout__content li::before{
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-top: -4px;
}

@media (min-width: 1024px){
  .c-callout{
    padding: 16px 24px;
  }

  .c-callout__content{
    margin-top: 16px;
  }

  .c-callout__content li{
    margin-bottom: 16px;
  }
}


/*================================
	accordion
=================================*/
.c-accordion{
  max-width: 620px;
  margin-top: 24px;
  margin-inline: auto;
}

.c-accordion__item{
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);
}

.c-accordion__content {
  display: none;
}

.c-accordion__header {
  transition: background .3s ease;
  cursor: pointer;
  position: relative;
}

.c-accordion__header span{
  width: calc(100% - 24px);
  display: block;
}


.c-accordion__header::before,
.c-accordion__header::after{
  position:absolute;
  content:'';
  top:10px;
  right:0;
  bottom:0;
  width:12px;
  height:2px;
  background:var(--font-color);
}
.c-accordion__header::after{
  transform:rotate(-90deg);
  transition:transform 0.3s;
}
.c-accordion__header.active::after{transform:rotate(0deg);}

.c-accordion__content {
  background: var(--bg-color);
  padding: 8px 16px;
  margin-top: 16px;
  font-size: 15px;
  
}

.c-accordion__header span,
.c-accordion__content span{
  
  position: relative;
}


@media (min-width: 1024px){
  .c-accordion{
    margin-top: 40px;
  }

  .c-accordion__item{
    margin-bottom: 40px;
  }
}


/*================================
	breadcrumb
=================================*/

.c-breadcrumb {
  padding: 12px 0;
}
@media (min-width: 1024px) {
  .c-breadcrumb {
    padding: 24px 0;

  }
}

.c-breadcrumb__item {
  position: relative;
}

.c-breadcrumb__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.c-breadcrumb__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.c-breadcrumb__item {
  padding-right: 20px;
}

.c-breadcrumb__item:not(:first-child) {
  margin-left: 10px;
}

.c-breadcrumb__item a {
  font-size: 14px;
  color: #767676;
}

.c-breadcrumb__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: url(../images/icon/arrow-menu.svg) no-repeat center center/contain;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*================================
	article
=================================*/

.p-article{

  max-width: 620px;
  margin-inline: auto;
}


@media (min-width: 768px){
  .p-article{
    padding: 48px 0;
  }
}
.p-article__eyecatch{
  margin: 0 calc(50% - 50vw);
width: 100vw;
}

@media (min-width: 768px){
  .p-article__eyecatch{
    margin: 0 auto;
    width: 100%;
  }

}

.p-article__eyecatch img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px){
  .p-article__eyecatch img{
  height: 320px;
}
}

.p-article__title{
  font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
  margin: 30px 0 15px;
  font-weight: normal;
}


.p-article__meta{
  display: flex;
  font-size: 14px;
  color: #6E6B6B;
} 

.p-article__cat{
  position: relative;
  padding-right: 24px;
  margin-right: 20px;
}

.p-article__cat::after{
  content: '|';
  position: absolute;
  top: 0;
  right: 0;
}

.p-article__body h2{
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
  margin-top: 45px;
  font-weight: normal;
}

.p-article__body p{
  line-height: 2;
  margin: 30px 0;
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem) /* 16-18px */;
}

.p-article__body img{
  margin: 30px 0;
}

@media (min-width: 768px){
  .p-article__body p{
  
  margin: 36px 0;
}

.p-article__body img{
  margin: 36px 0;
}

}


/*================================
	table
=================================*/

.c-table{
  max-width: 620px;
  margin: 30px auto 0;
}

.c-table__list dt{
  font-weight: bold;
  padding: 18px 0 13px 0;
  border-top: solid 1px #e6e6e6;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem) /* 14-16px */;
}



.c-table__list dd{
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem) /* 14-16px */;
  color: #585858;
  padding: 0px 0 19px 0;
  line-height: 2;
}

.c-table__list dd:last-of-type{
  border-bottom: solid 1px #e6e6e6;
}

.c-table__list a{
  text-decoration: underline;
  color: #1839b1;
}

@media (min-width: 768px){
  .c-table__list{
    display: grid;
    grid-template-columns: 220px 1fr;
  }

  .c-table__list dt{
  padding: 32px;
}

.c-table__list dt:last-of-type{
  border-bottom: solid 1px #e6e6e6;
}

.c-table__list dd{
  padding: 32px;
  border-top: solid 1px #e6e6e6;
}
}

/*================================
	contact
=================================*/

.p-contact {
  border-top: 1px solid #ccc;
}

.p-contact__body {
  max-width: 620px;
  margin: 0 auto;
}

.p-contact__form {
  background: #fafafa;
  padding: 0 12px;
}

.p-contact__lead p {
  margin-bottom: 12px;
}
.p-contact__lead a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .p-contact__form {
    margin-top: 40px;
    padding: 20px 32px 60px;
  }
}
.p-contact__tel {
  text-align: center;
  line-height: 1.4;
  background: #f7f7f7;
  padding: 24px 0;
  margin-top: 32px;
  margin-bottom: 40px;
}
.p-contact__tel a {
  display: inline-block;
  font-size: 32px;
  letter-spacing: 1px;
  position: relative;
}
.p-contact__tel a small {
  font-size: 18px;
  text-transform: uppercase;
}
.p-contact__tel span {
  font-size: 14px;
  display: block;
  padding-top: 8px;
}



/*----------------------------------------
	Form Parts
----------------------------------------*/
/*各フォーム部品の基本スタイルを上書きします*/
.inputField input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; /*ブラウザ標準スタイルを無効にする*/
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: inherit;
}

input[type=number],
input[type=password] {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
}

/*フォーカス時*/
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus,
select:focus,
input[type=number],
input[type=password] {
  outline: none;
  box-shadow: 0 0 5px rgba(55, 149, 47, 0.7);
}





select::-ms-expand {
  /*IEでもselectの矢印を消す*/
  display: none;
}

/*radio, checkbox
------------------------------------*/
input[type=radio],
input[type=checkbox] {
  opacity: 0; /*透明にして見えなくする*/
  position: absolute; /*本来の配置から切り離す*/
}

/*クリック範囲*/
input[type=radio] + span,
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  margin: 0 2em 0 0;
  padding: 0.3em 0.3em 0.3em 2em;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

/*フォーカス時*/
input[type=radio]:focus + span,
input[type=checkbox]:focus + span {
  outline: none;
  box-shadow: 0 0 5px rgba(55, 149, 47, 0.7);
}

/*ラジオボタンスタイル*/
input[type=radio] + span:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1.375em;
  height: 1.375em;
  border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 1;
  background: #fff;
}

/*ラジオボタンチェック印（未選択）*/
input[type=radio] + span:after {
  content: "";
  display: none;
}

/*ラジオボタンチェック印（選択）*/
input[type=radio]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  line-height: 1;
}

/*チェックボックススタイル*/
input[type=checkbox] + span:before {
  position: absolute;
  top: 0.3em;
  left: 0;
  content: "";
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1;
  vertical-align: middle;
}

/*チェックボックス未チェック時*/
input[type=checkbox] + span:after {
  content: "";
  display: none;
}

/*チェックボックスチェック時*/
input[type=checkbox]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0.4em;
  width: 0.5em;
  height: 1em;
  content: "";
  border-bottom: 3px solid #37952f;
  border-right: 3px solid #37952f;
  transform: rotate(45deg);
}

caption,
th {
  text-align: left;
}



/*必須ラベル*/
.require {
  padding-left: 2px;
  color: red;
}










/*----------------------------------------
	個人情報保護方針チェック
----------------------------------------*/
.privacyBox {
  margin: 0 0 24px;
}
.privacyBox a {
  text-decoration: underline;
  color: #337ab7;
}

.privacyBox__check {
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px), print {
  .privacyBox {
    padding: 20px;
    text-align: center;
  }
  .privacyBox__check {
    margin-top: 50px;
  }
}
/*----------------------------------------
	送信ボタン
----------------------------------------*/
.formBtns {
  display: flex;
  justify-content: center;
}

.buttonAction {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: block;
  margin: 0;
  padding: 12px;
  width: 100%;
  max-width: 400px;
  border: 2px solid var(--main-color);
  background: var(--main-color);
  color: #fff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  transition: opacity 0.3s, color 0.3s;
  cursor: pointer;
}

.buttonAction:hover {
  opacity: 0.7;
}

div.wpcf7 .wpcf7-spinner {
  display: none !important;
}

.contactTable {
  width: 100%;
}

.contactTable tr {
  height: 100px; /*表組みのheightはmin-heightとして動作します（min-heightは無効）*/
}

.contactTable th {
  width: 32.4%;
  padding: 20px 40px 20px 0;
  vertical-align: middle;
}

.contactTable td {
  padding: 20px 0;
  vertical-align: middle;
}

.contactTable,
.contactTable tbody,
.contactTable tr,
.contactTable th,
.contactTable td {
  display: block;
}

.contactTable tr {
  height: auto;
}

.contactTable th {
  width: 100%;
  padding: 20px 0 0 0;
}

.contactTable td {
  padding: 10px 0 20px 0;
}

/*================================
	LINE
=================================*/

.c-line{
  margin: 24px 0 40px;
  text-align: center;
  position: relative;
}

.c-line__link{
  border: 1px solid #33C251;
  color: #33C251;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem 0 4rem;
  font-size: 14px;
  min-height: 3rem;
  position: relative;

}

.c-line__link::after{
position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background: url(../images/icon/line.png) no-repeat center center/contain;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
}

.c-line__link:hover{
  opacity: .7;;
}

@media (min-width: 768px){
  .c-line--left{
    text-align: left;
  }
}